*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
	margin: 0 auto;
	width: 100%;
	font-family: 'Roboto Slab', serif;
}
.top-bar {
	position: relative;
	background-color: #fff;
	width: 100%;
	text-align: right;
	padding-bottom: 20px;
	z-index: 1;
	height: 80px;
}
.top-nav {
	float: right;
	line-height: 80px;
	height: 80px;
}
.top-nav > a {
	text-transform: none;
	font-size: 18px;
	color: #808080;
	text-decoration: none;
	margin-right: 20px;
  	font-weight: 100;
}

.top-nav a img {
	vertical-align: middle;
}
a:hover {
	color: #000;
}
.logo {
	float: left;
}
.placeholder {
  height: 80px;
}
.social {
	height: 30px;
}
.image-main {
	display: block;
	position: relative;
	width: 100%;
}
.bottom-nav {
	height: 100px;
	background-color: #fff;
	border-bottom: 1px #808080;
}
.nav-link {
  	display: inline-block;
	color: #808080;
	font-size: 18px;
	font-weight: 100;
	text-transform: none;
	text-decoration: none;
  	padding: 30px 30px 30px 30px;
}
.to-come {
	height: 300px;
}